.container {
  width: 100%;
  height: 100%;
}

.tabContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tabList {
  width: 100%;
}

.tab {
  width: 50%;
}

.label {
  margin-bottom: 8px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.input {
  margin-bottom: 10px;
}

.button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
}

.dividerText {
  margin: 2rem;
}

.error-message {
  color: #E74C3C;
  font-size: 12px;
  margin-top: -8px;
  margin-left: 4px;
  margin-bottom: 4px;
}