.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
    width: 300px;
    height: 300px;
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }