.container{
    height: fit-content;
}

.container:hover{
    cursor: pointer;
}
.name{
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.iconContainer{
    font-size: 26px;
    color: white;
}