.container {
  width: 100%;
  position: relative;
}

.style.bannerContainer {
  width: 100%;
  height: 100%;
}

.bannerImage {
  width: 100%; /* or any custom size */
  height: 100%;
  border-radius: 18px;
}
